<!-- Modal -->
<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">The Trippy Team</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 text-center">
            <br />

            <!-- Mark Dao -->
            <a href="http://www.markdaosamplesite.com/" target="_blank">
              <img class="profile-pic img-responsive img-circle center-block" src="images/profile-images/mark.jpg">
            </a>
            <h5><a class="names-in-contact-modal" href="http://www.markdaosamplesite.com/" target="_blank">Mark<br />
            Dao</a></h5>
            <a href="https://www.linkedin.com/in/markdao" target="_blank"><i class="fa fa-linkedin-square fa-2x profile-icons"></i></a>
            <a href="https://github.com/markdao" target="_blank"><i class="fa fa-github fa-2x profile-icons"></i></a>
            <a href="https://twitter.com/markdao" target="_blank"><i class="fa fa-twitter fa-2x profile-icons"></i></a>
            <a href="http://www.markdaosamplesite.com/" target="_blank"><i class="fa fa-user fa-2x profile-icons"></i></a>
            <br />
            <br />
            <!-- Phil Ramos -->
            <br />
            <br />
            <a href="https://philramos.herokuapp.com" target="_blank">
              <img class="profile-pic img-responsive img-circle center-block" src="images/profile-images/phil.jpg">
            </a> 
            <h5><a class="names-in-contact-modal" href="https://philramos.herokuapp.com" target="_blank">Phil<br />
            Ramos</a></h5> 
            <a href="https://www.linkedin.com/in/philramos" target="_blank"><i class="fa fa-linkedin-square fa-2x profile-icons"></i></a>
            <a href="https://github.com/philramos" target="_blank"><i class="fa fa-github fa-2x profile-icons"></i></a>
            <!-- <a href="https://twitter.com/philramos" target="_blank"><i class="fa fa-twitter fa-2x profile-icons"></i></a> -->
            <a href="https://philramos.herokuapp.com" target="_blank"><i class="fa fa-user fa-2x profile-icons"></i></a>

          </div> <!-- col-md-6 -->
          <div class="col-md-6 text-center">
            <div class="hide-on-large-only">
              <br />
            </div>
            <br />
            
            <!-- Brittany Burroughs -->
            <a href="https://brittanysu.herokuapp.com/" target="_blank">
              <img class="profile-pic img-responsive img-circle center-block" src="images/profile-images/brittany.jpg">
            </a> 
            <h5><a class="names-in-contact-modal" href="https://brittanysu.herokuapp.com/" target="_blank">Brittany<br />
            Burroughs</a></h5> 
            <a href="https://www.linkedin.com/in/brittanysu" target="_blank"><i class="fa fa-linkedin-square fa-2x profile-icons"></i></a>
            <a href="https://github.com/brittanysu" target="_blank"><i class="fa fa-github fa-2x profile-icons"></i></a>
            <a href="https://twitter.com/brittanysu" target="_blank"><i class="fa fa-twitter fa-2x profile-icons"></i></a>
            <a href="https://BrittanyBurroughs.herokuapp.com/" target="_blank"><i class="fa fa-user fa-2x profile-icons"></i></a>
            <br />
            <br />
            <!-- Mike Boire -->
            <br />
            <br />
            <a href="github/mikeboire.com/" target="_blank">
              <img class="profile-pic img-responsive img-circle center-block" src="images/profile-images/mike.jpg">
            </a>
            <h5><a class="names-in-contact-modal" href="https://mikeboire.herokuapp.com/" target="_blank">Mike<br />
            Boire</a></h5>
            <a href="https://www.linkedin.com/in/mikeboire" target="_blank"><i class="fa fa-linkedin-square fa-2x profile-icons"></i></a>
            <a href="https://github.com/mikeboire" target="_blank"><i class="fa fa-github fa-2x profile-icons"></i></a>
            <a href="https://twitter.com/mikeboire" target="_blank"><i class="fa fa-twitter fa-2x profile-icons"></i></a>
            <a href="https://mikeboire.herokuapp.com/" target="_blank"><i class="fa fa-user fa-2x profile-icons"></i></a>

          </div> <!-- end col -->
        </div> <!-- end row -->

      </div> <!-- modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>